body{
    margin: 0;
    background-color: aqua;
}
header.footer{
    width: 100%;\
}
.sidebar,main{
  background-color: brown;
    border: 1px solid blue;
    padding: 10px; 
    margin: 10px;
    width: 25%;
    display: flex;
    justify-content: space-around;
    
   }
.main{
     text-align: right;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    width: 75%;
    float:right
}
img{
    width: 200px;
    height: auto;
    border-radius: 7px;
    margin-top: -15px;;
}
.nav{
    display: flex;
    justify-content: space-between;
}



